<table class="profile" summary="User Information">
  <tr>
    <td class="main">
      <h1>	      
	      <%= render 'shared/micropost_form' %>
      </h1>      
    </td>
    <td class="sidebar round">
      <strong><%= gravatar_for @user, :size => 20 %>  <%= @user.name %> </strong><br /><br />
      <strong>URL:</strong>  <%= link_to user_path(@user), @user %> <br />
      <strong>Posts:</strong> <%= @user.microposts.count %>
    </td>
  </tr>
</table>

<% unless @user.microposts.empty?  %>
<table class="microposts" summary="User posts">
  <%= render @microposts %>
</table> 
<%= will_paginate @microposts %>
<% end %> 
