    <div id="header" class="span-12"> <h1> Link to logo here </h1> </div> 
    <nav class="span-6 last round prepend-top">
        <ul>
          <li><%= link_to "Home", root_path %> </li>
          <li><%= link_to "Help", help_path %> </li>
	  <% if signed_in? %>
	  <li><%= link_to "Profile", current_user %></li>
	  <li><%= link_to "Sign out", signout_path %></li>
	    <% else %>
	    <li><%= link_to "Sign In", signin_path %> </li>
	    <% end %> 
        </ul>
    </nav>
